<?xml version="1.0"?>
<launch>

  <!-- <include file="$(find diff_teleop_keyboard)/launch/diff_teleop_keyboard.launch"/> -->
  <include file="$(find rplidar_ros)/launch/rplidar.launch"/>
  <include file="$(find navstack_pub)/launch/amcl.launch"/>
  <include file="$(find graduate_project)/launch/position_robot.launch"/>
  <include file="$(find robot_pose)/launch/initial_pose.launch"/> 
</launch>
